server {
    listen 80;
    server_name chatgpt-dev-2.launchable.ai;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name chatgpt-dev-2.launchable.ai;

    client_max_body_size 10M;

    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/chatgpt-dev-2.launchable.ai/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/chatgpt-dev-2.launchable.ai/privkey.pem;

    access_log /var/log/nginx/chatgpt-dev-2.launchable.ai.access.log;
    error_log /var/log/nginx/chatgpt-dev-2.launchable.ai.error.log;

    location /streaming/ {
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
        proxy_buffering off;
        proxy_pass http://fastapi_app_streaming/;
    }

    location /data/ {
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_redirect off;
        proxy_buffering off;
        proxy_pass http://fastapi_app_data/;
    }

    location /static {
        # path for static files
        root /path/to/app/static;
    }
}

upstream fastapi_app_streaming {
    server 127.0.0.1:8000;
}

upstream fastapi_app_data {
    server 127.0.0.1:8001;
}
